<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Просмотреть все заявки", "ViewAll", "Request")</li>
    <li>@Html.ActionLink("Добавить пользователя", "AddNew", "User")</li>
    <li>@Html.ActionLink("Просмотр всех пользователей", "ViewAll", "User")</li>
</ul>
