body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 350px;
    max-width: 480px;
}

.form-request-button {
    width: 350px;
    background-color: tomato;
    color: white;
    height: 30px;
    margin-top: 5px;
    font-weight: bold;
}

.input-validation-error 
{
    background-color: pink;
    font-family: monospace;
}

.field-validation-error 
{
    color: red;
    font-weight: bold;
}

.editor-label label {
    margin-top: 10px;
}
