body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 100%;
    height: 35px;
    max-width: 480px;
}

.form-request-button {
    width: 350px;
    background-color: tomato;
    color: white;
    height: 30px;
    margin-top: 5px;
    font-weight: bold;
}

.input-validation-error 
{
    background-color: pink;
    font-family: monospace;
}

.field-validation-error 
{
    color: red;
    font-weight: bold;
}

.editor-label label {
    margin-top: 10px;
}

div .roles-list 
{
    float: left;
    width: 8em;
    padding: .3em;
}

div .checkbox input 
{
    height: 15px;
    width: 15px;    
}

div #left, #right {
    display: inline-block;
}

#left {width: 65%; }

.main-image
{
    height: 200px;
    width: 200px;
}

.logout-link 
{
    color: #999999;
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
}

.greetings {
    font-weight: bold;
    color: azure;
    float: left;
}

div .page-links 
{
    text-align: right;
    
}

div .page-links a {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    color: azure;
    background: #080808;
    font-size: 20px;
}

div .page-links .selected {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    color: black;
    background: greenyellow
}